{% set salesDateIndex = sales_header|keys|first('Sales Date') %}

<div class="w-full bg-white rounded-2xl shadow-2xl mb-6 p-16">
	<div class="flex justify-between items-center mb-4">
		<p>All Sales</p>
		<div class="flex justify-between items-center">
			<button id="createSaleButton" class="inline-flex justify-center rounded-md bg-green-100 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-green-500 sm:mt-0 sm:w-auto transition duration-500 ease-in-out mr-2">Create Sale</button>
			<label for="dateFilter" class="text-sm font-medium text-gray-700 mr-5">Filter by date:</label>
			<input type="date" id="dateFilter" name="dateFilter" class="mt-1 py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
		</div>
	</div>
    <table class="table-auto w-full border-collapse rounded-lg">
        <thead>
            <tr>
                {% for header in sales_header %}
                    <th scope="col" class="border border-black px-4 py-2 text-center">{{ header }}</th>
                {% endfor %}
                <th scope="col" class="border border-black px-4 py-2 text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
			{% for sale in sales %}
				<tr class="hover:bg-gray-100" id="saleRow{{ loop.index }}">
					{% for value in sale %}
						<td class="border border-black px-4 py-2 text-center" data-index="{{ loop.index0 }}">{{ value }}</td>
					{% endfor %}
					<td class="border border-black px-4 py-2 text-center">
						<button id="detailsButton" data-date="{{ sale['Sales Date'] }}"  class="inline-flex justify-center rounded-md bg-blue-100 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-blue-500 sm:mt-0 sm:w-auto transition duration-500 ease-in-out mr-2">Details</button>
					</td>
				</tr>
			{% endfor %}
        </tbody>
    </table>
</div>


<!-- Details Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Details</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Create</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="addSaleForm">
					<div class="mb-3">
						<label for="product" class="form-label">Product</label>
						<select class="form-select" id="product" name="product">
							{% for product in products %}
								<option value="{{ product.id }}">{{ product.name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="mb-3">
						<label for="quantity" class="form-label">Quantity</label>
						<input type="number" class="form-control" id="quantity" name="quantity" value="1">
					</div>
					<div class="mb-3">
						<label for="client" class="form-label">Client</label>
						<select class="form-select" id="client" name="client">
							<option value="">None</option>
							{% for client in clients %}
								<option value="{{ client.id }}">{{ client.fname }} {{ client.lname }}</option>
							{% endfor %}
						</select>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="addSaleButton">Add</button>
			</div>
		</div>
	</div>
</div>

<script>
	let all_sale_details = {{ sale_details|json_encode|raw }};
	let all_products = {{ products|json_encode|raw }};
	let all_clients = {{ clients|json_encode|raw }};

	// Get all the details buttons
	var detailsButtons = document.querySelectorAll('[id^="detailsButton"]');

	// For each button, add an event listener
	detailsButtons.forEach(function(button) {
		button.addEventListener('click', function() {
			// Get the sale date for this row
			let saleDate = button.getAttribute('data-date');

			// Find all sale details that have this date
			let saleDetailsForDate = all_sale_details.filter(function(sale) {
				return sale.date == saleDate;
			});

			// Update the modal body with the product, date and revenue
			let modalBody = document.querySelector('.modal-body');

			let saleDetailsHtml = saleDetailsForDate.map(saleDetails => {
				// Find the client for this sale
				let client = all_clients.find(client => client.id == saleDetails.clientid);
				let clientName = client ? client.fname + ' ' + client.lname : 'General Client';

				return `
					<p>Product: ${saleDetails.name}</p>
					<p>Date: ${saleDetails.date}</p>
					<p>Client: ${clientName}</p>
					<p>Quantity: ${saleDetails.price != 0 ? (saleDetails.revenue / saleDetails.price).toFixed(2) : 'N/A'}</p>
					<p>Price: ${saleDetails.price}</p>
					<p>Total: ${saleDetails.revenue}</p>
					<hr>
				`;
			});

			modalBody.innerHTML = saleDetailsHtml.join('');

			// Open the modal
			var myModal = new bootstrap.Modal(document.getElementById('detailsModal'));
			myModal.show();
		});
	});

	document.getElementById('createSaleButton').addEventListener('click', function() {
		var addModal = new bootstrap.Modal(document.getElementById('addModal'));
		addModal.show();
	});

	document.getElementById('addSaleButton').addEventListener('click', function() {
		let data = {
			product: document.getElementById('product').value,
			revenue: (all_products.find(product => product.id == document.getElementById('product').value).price) * document.getElementById('quantity').value,
			date: new Date().toISOString().split('T')[0],
			clientid: document.getElementById('client').value !== 'None' ? document.getElementById('client').value : null
		};

		$.ajax({
			url: `/index.php/api/sales/edit/`,
			type: 'POST',
			data: data,
			success: function (response) {
				if (JSON.parse(response).status) {
					window.location.reload();
				}
			},
			error: function (error) {
				console.log(error);
			}
		});
	});

    document.getElementById('dateFilter').addEventListener('change', function() {
        var selectedDate = this.value;
        var tableRows = document.querySelectorAll('.table-auto tbody tr');

        tableRows.forEach(function(row) {
            var saleDate = row.querySelector('td[data-index="{{ salesDateIndex }}"]').textContent;
            if (saleDate !== selectedDate) {
                row.style.display = 'none';
            } else {
                row.style.display = '';
            }
        });
    });
</script>