<div class="w-full bg-white rounded-2xl shadow-2xl mb-6 p-16">
	<button
		class="inline-flex justify-center rounded-md bg-blue-100 px-3 py-2 mb-5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-blue-500 sm:mt-0 sm:w-auto transition duration-500 ease-in-out"
		data-bs-toggle="modal" data-bs-target="#addModal">Add Product</button>
	<table class="table-auto w-full" id="products-table">
		<thead>
			<tr>
				{% for header in products_header %}
				<th class="border border-black px-4 py-2 text-center">{{ header|capitalize }}</th>
				{% endfor %}
				<th class="border border-black px-4 py-2 text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products_data %}
			<tr>
				{% for key, value in product %}
				<td class="border px-4 py-2">
					{% if key == 'rating' %}
					{% for i in 0..value - 1 %}
					<span>&#9733;</span>
					{% endfor %}
					{% elseif key == 'comments' %}
					{{ value|length }}
					{% elseif key == 'image' %}
					<img src="{{ value|default('/views/assets/img/product_default.svg') }}" alt="Product Image"
						class="w-16 h-16 rounded">
					{% elseif key == 'price' %}
					${{ value|default(' - price unset') }}
					{% elseif key == 'description' %}
					{{ value|length > 50 ? value|slice(0, 50) ~ '...' : value }}
					{% elseif key == 'quantity' %}
					{{ value > 0 ? value : 'Out of stock' }}
					{% else %}
					{{ value }}
					{% endif %}
				</td>
				{% endfor %}
				<td class="border px-4 py-2">
					<div class="flex items-center justify-center">
						<button
							class="inline-flex justify-center rounded-md bg-blue-100 px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-blue-500 sm:mt-0 sm:w-auto transition duration-500 ease-in-out mr-2"
							data-bs-toggle="modal" data-id="{{product['id']}}" data-bs-target="#editModal">Edit</button>
						<button
							class="inline-flex justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto transition duration-500 ease-in-out"
							data-bs-toggle="modal" data-id="{{product['id']}}"
							data-bs-target="#deleteModal">Delete</button>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script>
	$(document).ready(function () {
		let products_data = {{ products_data| json_encode | raw
	}};

	// ----------- EDIT -----------  
	document.getElementById('edit-product_image').addEventListener('change', function (e) {
		var file = e.target.files[0];
		var reader = new FileReader();

		reader.onloadend = function () {
			var blob = new Blob([reader.result], { type: file.type });
			// Now you can use blob as you wish
			console.log(blob);
		};

		if (file) {
			reader.readAsArrayBuffer(file);
		}
	});

	$('#editModal').on('show.bs.modal', function (event) {
		let button = $(event.relatedTarget);
		let id = button.data('id');
		let product = products_data.find(product => product.id == id);

		$('#product_name').val(product.name);
		$('#product_description').val(product.description);
		$('#product_price').val(product.price);
		$('#product_quantity').val(product.quantity);
	});

	function updateProduct(id, data) {
		console.log("updateProduct called");
		console.log(data);

		$.ajax({
			url: `/index.php/api/products/edit/${id}`,
			type: 'POST',
			data: data,
			success: function (response) {
				console.log(JSON.parse(response));
				if (JSON.parse(response).status) {
					window.location.reload();
				}
			},
			error: function (error) {
				console.log(error);
			}
		});
	}

	$('#editModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget); // Button that triggered the modal
		var id = button.data('id');
		var modal = $(this);
		modal.find('.modal-title').text('Edit Product ' + id);

		var reader = new FileReader();

		reader.onloadend = function () {

			let data = {
				name: $('#product_name').val(),
				description: $('#product_description').val(),
				price: $('#product_price').val(),
				quantity: $('#product_quantity').val(),
				image: reader.result
			};

			document.getElementById('save-changes').innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...';
			updateProduct(id, data);
		};

		modal.find('button.btn-primary').click(function () {
			var fileInput = document.getElementById('edit-product_image');
			var file = fileInput.files[0];

			console.log("fileInput.files[0]");
			console.log(file);

			if (file) {
				reader.readAsDataURL(file); // Read the file as a Data URL
			}
		});
	});

	// ----------- DELETE -----------
	$('#deleteModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget); // Button that triggered the modal
		var id = button.data('id'); // Get the id from the button
		var deleteButton = $('#deleteModal button.btn-primary');

		deleteButton.click(function () {
			// Add spinner to the button
			deleteButton.html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Deleting...');

			$.ajax({
				url: `/index.php/api/products/edit/${id}`,
				type: 'DELETE',
				success: function (response) {
					window.location.reload();
					deleteButton.html('Delete');
				},
				error: function (error) {
					console.log(error);
					// Remove spinner from the button
					deleteButton.html('Delete');
				}
			});
		});
	});

	// ----------- ADD -----------
	function addProduct(data) {
		console.log("addProduct called");
		console.log(data);

		$.ajax({
			url: `/index.php/api/products/edit/`,
			type: 'POST',
			data: data,
			success: function (response) {
				console.log(JSON.parse(response));
				if (JSON.parse(response).status) {
					window.location.reload();
				}
			},
			error: function (error) {
				console.log(error);
			}
		});
	}

	$('#addModal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget); // Button that triggered the modal
		var modal = $(this);
		modal.find('.modal-title').text('Add Product');

		var reader = new FileReader();

		reader.onloadend = function () {
			let data = {
				name: $('#product_name').val(),
				description: $('#product_description').val(),
				price: $('#product_price').val(),
				quantity: $('#product_quantity').val(),
				image: reader.result
			};

			// If no image is selected, set a default value
			if (data.image === undefined) {
				data.image = ""; // or a default image URL
			}

			document.getElementById('edit-save-changes').innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Saving...';
			addProduct(data);
		};

		modal.find('button.btn-primary').click(function () {
			var fileInput = document.getElementById('add-product_image');
			var file = fileInput.files[0];

			console.log("fileInput.files[0]");
			console.log(file);

			if (file) {
				reader.readAsDataURL(file); // Read the file as a Data URL
			} else {
				// If no file is selected, manually trigger the onloadend event
				reader.onloadend();
			}
		});
	});
});
</script>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="" method="post">
					<div class="mb-3">
						<form action="" method="post" enctype="multipart/form-data">

							<label for="edit-product_name" class="form-label">Product Name</label>
							<input type="text" class="form-control" id="edit-product_name" name="product_name">

							<br>

							<label for="edit-product_description" class="form-label">Product Description</label>
							<textarea class="form-control" id="edit-product_description"
								name="product_description"></textarea>

							<br>

							<label for="edit-product_price" class="form-label">Product Price</label>
							<input type="text" class="form-control" id="edit-product_price" name="product_price">

							<br>

							<label for="edit-product_quantity" class="form-label">Product Quantity</label>
							<input type="number" class="form-control" id="edit-product_quantity"
								name="product_quantity">

							<br>

							<label for="edit-product_image" class="form-label">Product Image</label>
							<input type="file" class="form-control" id="edit-product_image" name="product_image">

						</form>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="edit-save-changes">Save changes</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Are you sure you want to delete this product?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Delete</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Add</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="" method="post">
					<div class="mb-3">
						<form action="" method="post" enctype="multipart/form-data">

							<label for="product_name" class="form-label">Product Name</label>
							<input type="text" class="form-control" id="product_name" name="product_name">

							<br>

							<label for="product_description" class="form-label">Product Description</label>
							<textarea class="form-control" id="product_description"
								name="product_description"></textarea>

							<br>

							<label for="product_price" class="form-label">Product Price</label>
							<input type="text" class="form-control" id="product_price" name="product_price">

							<br>

							<label for="product_quantity" class="form-label">Product Quantity</label>
							<input type="number" class="form-control" id="product_quantity" name="product_quantity">

							<br>

							<label for="add-product_image" class="form-label">Product Image</label>
							<input type="file" class="form-control" id="add-product_image" name="product_image">

						</form>
					</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
</div>